/* src/views/LandingPage.css */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 4rem;
  min-height: 100vh;
  background-image: url('../assets/landing.gif'); /* Fondo animado */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: 'Manifold_CF', sans-serif;
}

.landing-title {
  margin-top: 16rem;
  font-size: 13rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  margin-top: -2rem;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 900px) {
  .landing-container {
    padding: 0 1rem; /* Espaciado interno para dispositivos pequeños */
    row-gap: 3rem; /* Reducir espacio entre elementos */
  }

  .landing-title {
    margin-top: 12rem;
    font-size: 4rem; /* Tamaño de fuente reducido para pantallas pequeñas */
  }

  h3 {
    max-width: 70vw;
    font-size: 1rem; /* Tamaño de fuente reducido para pantallas pequeñas */
    margin-top: 0;
  }

  .circle-button {
    width: 100px;
    height: 100px;
    font-size: 1rem; /* Ajusta el tamaño del texto en el botón */
  }
}
