.sound-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(119, 90, 175, 0.5); /* Fondo con transparencia */
    border: 0.5px solid #B08FFF;
    border-radius: 12px;
    position: fixed;
    width: 80%;
    height: 7rem;
    z-index: 10;
    bottom: 6rem;
}

.player-thumbnail img {
    width: 11rem;
    height: auto;
    z-index: 20;
}

.player-info {
    flex: 1;
    margin-left: 1rem;
    color: white;
    font-family: "Manifold_CF", sans-serif;
    z-index: 20;
}

.player-time {
    font-size: 1.4rem;
    z-index: 20;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 20;
}

.player-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 20;
}

.player-button:hover {
    transform: scale(1.2);
}

.player-button:focus {
    outline: none;
}

.player-button.download {
    font-size: 1.3rem;
}

.player-button.share {
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .sound-player {
        width: 90%;
        bottom: 1rem;
    }

    .player-thumbnail img {
        width: 5rem;
    }

    .player-controls {
        gap: 0.5rem;
    }

    .player-info {
        font-size: 0.8rem;
    }

    .player-time {
        font-size: 0.9rem;
    }

    .player-button {
        font-size: 1.2rem;
    }

    .player-button.download {
        font-size: 1rem;
    }

    .player-button.share {
        font-size: 1rem;
    }
}